VITE_API_BASE_URL=/api
VITE_AGENT_WS_URL=
# 本地k8s的代理配置
VITE_PROXY_API_TARGET=http://localhost
VITE_PROXY_SSE_TARGET=http://localhost
VITE_PROXY_AGENT_WS_TARGET=ws://localhost
# 直接对接本地开发环境的后端服务
VITE_PROXY_API_TARGET=http://localhost:8080
VITE_PROXY_SSE_TARGET=http://localhost:8080
VITE_PROXY_AGENT_WS_TARGET=ws://localhost:8081